
html, body {
    margin: 0;
    padding: 0;
  }


header {
    background-color:hsla(0, 0%, 20%,90%);
    text-align:center;
    position:fixed;
    z-index: 2;
    width:100%;

}

nav {
    margin:0;
    padding: 15px;
    
}

nav li,a {
    color:white;
    display:inline-block;
    padding: 0 20px;
    text-decoration: none;
}


main {
    top: 0px;
    text-align:center;
    position: relative;
    text-transform: uppercase;
}

main h1 {
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    font-weight: bold;
    padding: 50px;
    position: relative;
    top: 70px;
    

}
.btn-main {
    top: 35px;
    position: relative;
    background-color: #333;
    color:white;
    padding: 20px 40px;
    letter-spacing: 1.5px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-decoration: none;
    font-weight: 900;
    border-radius: 20px;
    top: 90px;
    }
.btn-main:hover{
    color:hsl(60, 100%, 50%);
}
.jumbotron {
    
    padding: 30px;
    height: 700px;
    background-image: url("https://content.codecademy.com/projects/broadway/bg.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    top: 0px;
  }

.supporting{ 
    
    text-align: center;
    margin-left: 100px;
    
}
.supporting .col {
    font-family: 'Raleway', sans-serif;
    height: 300px;
    width: 300px;
    display: inline-block;
    
    padding: 70px 20px 0px 20px;
    text-align: center;
    
    top:0px;
    
}
.supporting img {
    height: 42px;
}

.info{
    color:black;
    background-color:white;
    border: 2px solid black;
    padding: 5px 15px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;

}
.info:hover{
    color:hsl(60, 100%, 50%);
    border-color: hsl(60, 100%, 50%);
    background-color: #333333;
}

nav li,a:hover{
    color:hsl(60, 100%, 50%);
}

.col h2{
    text-transform: uppercase;
}

.container {
    background-color: #333333;
    padding: 20px;
    color: white;
    text-align: center;
    
}